html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.header {
    background-color: #f4f7f9;
    padding-bottom: 60px;
}

.header__intro-background {
    background-color: #293449;
}

.header__intro {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    display: flex;
}

.logo {
    display: inline-block;
    vertical-align: top;
    padding: 13px 55px 0px 55px;
    text-align: center;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}

.logo:hover,
.logo:focus {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

.header__logo {
    margin-bottom: -5px;
}

.search {
    position: relative;
}

.search__field {
    border: none;
    background-color: #293449;
    width: 260px;
    height: 42px;
    padding-left: 49px;
    padding-right: 5px;
}

.search__field::placeholder {
    color: #ffffff;
}

.search__field:hover {
    background-color: #212a3a;
}

.search__field:focus {
    background-color: #ffffff;
}

.search__button {
    position: absolute;
    top: 12px;
    left: 10px;
    border: none;
    background-color: transparent;
    opacity: 0.3;
}

.search__field:hover ~ .search__button {
    opacity: 1;
}

.search__field:focus ~ .search__button path {
    fill: red;
}

.user-list,
.registration,
.menu,
.shop-pluses,
.brands-list,
.company__list,
.services-list,
.footer-menu,
.social-list,
.development-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.user-list {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.user-list__link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    padding-left: 46px;
    padding-right: 31px;
    padding-top: 12px;
    padding-bottom: 14px;
}

.user-list__item:nth-child(1) .user-list__link::before {
    position: absolute;
    content: "";
    top: 14px;
    left: 17px;
    width: 14px;
    height: 16px;
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.user-list__item:nth-child(2) .user-list__link::before {
    position: absolute;
    content: "";
    top: 14px;
    left: 17px;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.user-list__link:hover,
.user-list__link:focus {
    background-color: #212a3a;
}

.user-list__item:nth-child(1) .user-list__link:hover::before,
.user-list__item:nth-child(2) .user-list__link:hover::before,
.user-list__item:nth-child(1) .user-list__link:focus::before,
.user-list__item:nth-child(2) .user-list__link:focus::before {
    opacity: 1;
}

.user-list__link:active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.user-list__item:nth-child(1) .user-list__link:active::before,
.user-list__item:nth-child(2) .user-list__link:active::before {
    opacity: 0.5;
}

.user-list__link_checkout {
    background-color: #63a63e;
    padding-left: 20px;
    padding-right: 22px;
    padding-bottom: 14px;
}

.user-list__link_checkout:hover,
.user-list__link_checkout:focus {
    background-color: #5fbb2d;
}

.user-list__link_checkout:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

.header__description {
    padding-top: 46px;
    padding-bottom: 32px;
    padding-left: 53px;
    display: flex;
    justify-content: space-between;
}

.offer {
    width: 197px;
}

.offer__title {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    color: #ee3643;
    margin: 0;
}

.address {
    max-width: 280px;
}

.address__phone {
    display: block;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: 3px solid #ffffff;
    padding-top: 13px;
    padding-bottom: 11px;
    padding-right: 52px;
    padding-left: 74px;
    margin-bottom: 4px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 15px center;
}

.address__city {
    line-height: 24px;
    text-align: center;
    color: #32425c;
    margin: 0;
}

.registration {
    display: flex;
    flex-wrap: wrap;
}

.registration__item {
    max-width: 155px;
}

.registration__link {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    padding-top: 14px;
    padding-bottom: 11px;
    padding-right: 17px;
    padding-left: 17px;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration__link svg {
    margin-right: 14px;
}

.registration__item:not(:first-child) {
    margin-left: 10px;
}

.registration__item:nth-child(2) .registration__link {
    padding-left: 25px;
}

.registration__link:hover,
.registration__link:focus {
    color: #ee3643;
}

.registration__link:hover path,
.registration__link:focus path {
    fill: #000000;
}

.registration__link:active {
    color: rgba(0, 0, 0, 0.3);
}

.registration__link:active path {
    fill: #c5c5c5;
}

.header__navigation {
    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0 18px;
}

.menu__link {
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    line-height: 21px;
    color: #ffffff;
    padding-top: 17px;
    padding-bottom: 22px;
    padding-left: 31px;
    padding-right: 31px;
}

.menu__link:hover,
.menu__link:focus {
    background-color: #293449;
}

.menu__link:active,
.menu__link_active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.features {
    padding-top: 59px;
    padding-bottom: 53px;
}

.shop-pluses {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.shop-pluses__item {
    width: 300px;
}

.shop-pluses__box {
    padding-left: 21px;
    padding-top: 21px;
    padding-bottom: 18px;
    padding-right: 23px;
    width: 300px;
}

.shop-pluses__item:not(:last-child) {
    margin-bottom: 20px;
}

.shop-pluses__item_material {
    position: relative;
    background-color: #ffbf47;
    margin-right: 20px;
    background-image: url(../img/materials-icon.svg);
    background-repeat: no-repeat;
    background-position: 213px;
}

.shop-pluses__item_material::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 60px;
    height: 59px;
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.shop-pluses__item_tool {
    background-color: #3bbce3;
    margin-right: 20px;
    background-image: url(../img/tools-icon.svg);
    background-repeat: no-repeat;
    background-position: 197px;
}

.shop-pluses__item_technique {
    background-color: #dc91d8;
    background-image: url(../img/technic-icon.svg);
    background-repeat: no-repeat;
    background-position: 191px;
}

.shop-pluses__item_delivery,
.shop-pluses__item_discount {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.shop-pluses__box_discount {
    background-color: #8ed78f;
    background-image: url(../img/discounts-icon.svg);
    background-repeat: no-repeat;
    background-position: 196px;
}

.shop-pluses__box_delivery {
    background-color: #ffc047;
    background-image: url(../img/delivery-icon.svg);
    background-repeat: no-repeat;
    background-position: 191px;
}

.shop-pluses__text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    margin-bottom: 15px;
}

.shop-pluses__link {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 140px;
}

.shop-pluses__link:hover,
.shop-pluses__link:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.shop-pluses__link:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.shop-pluses__link,
.slider-drills__link,
.products-intro__link,
.products__btn,
.products__btn_bookmark,
.company__link,
.contact__link,
.filters__btn,
.pagination__link {
    border-radius: 4px;
}

.slider-drills {
    position: relative;
    width: 620px;
    margin-right: 20px;
    margin-top: -267px;
}

.slider-drills__item {
    padding-top: 26px;
    padding-bottom: 22px;
    padding-left: 24px;
    padding-right: 24px;
    display: none;
    background-color: #a97d21;
}

.slider-drills__item_first {
    background-image: url(../img/slide-drills-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-drills__item_second {
    background-image: url(../img/slide-drills-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-drills__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

.slider-drills__text {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 118px;
}

.slider-drills__link {
    display: inline-block;
    vertical-align: top;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    padding-top: 14px;
    padding-bottom: 9px;
    padding-left: 49px;
    padding-right: 46px;
    max-width: 200px;
}

.slider-drills__link:hover,
.slider-drills__link:focus {
    background-color: #ca2c37;
}

.slider-drills__link:active {
    background-color: #ba2732;
}

.slider-drills__btn {
    position: absolute;
    top: 114px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.slider-drills__btn_left {
    left: 25px;
}

.slider-drills__btn_right {
    right: 20px;
}

.slider-drills__controls {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 39px;
    left: 50%;
}

.slider-drills__control {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
}

.slider-drills__control_first {
    margin-right: 10px;
}

.slider-radio-first:checked ~ .index-page .slider-drills__item_first,
.slider-radio-second:checked ~ .index-page .slider-drills__item_second {
    display: block;
}

.slider-radio-first:checked ~ .index-page .slider-drills__control_first:before,
.slider-radio-second:checked ~ .index-page .slider-drills__control_second:before {
    position: absolute;
    top: 2px;
    left: 2px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #ee3643;
}

.products-intro {
    background-color: #f9f5f0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 28px;
    padding-right: 24px;
    margin-bottom: 22px;
}

.products-intro__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
}

.products-intro__link {
    display: inline-block;
    vertical-align: top;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    padding: 12px 55px;
    margin-left: auto;
    max-width: 255px;
}

.products-intro__link:hover,
.products-intro__link:focus {
    background-color: #ca2c37;
}

.products-intro__link:active {
    background-color: #ba2732;
}

.products__item-main {
    position: relative;
    border: 1px solid #eaeaea;
    text-align: center;
    padding-bottom: 17px;
    width: 220px;
    margin-bottom: 20px;
}

.products__item-main:nth-child(4n)::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 60px;
    height: 59px;
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.products__item-main:not(:nth-child(4n)) {
    margin-right: 20px;
}

.products__item-main:hover,
.products__item-main:focus {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.products__item-main:hover .products__image,
.products__item-main:focus .products__image {
    opacity: 0;
}

.products__item-main:hover .products__overlay,
.products__item-main:focus .products__overlay {
    opacity: 1;
}

.popular-brands {
    padding-bottom: 65px;
}

.brands-list {
    display: flex;
    flex-wrap: wrap;
}

.brands-list__item {
    margin-bottom: 20px;
}

.brands-list__item:not(:nth-child(4n)) {
    margin-right: 20px;
}

.brands-list__image {
    vertical-align: middle;
}

.brands-list__link {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 145px;
    text-align: center;
    line-height: 145px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

.brands-list__link:hover,
.brands-list__link:focus {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-list__link:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brands-list__link:active .brands-list__image {
    opacity: 0.3;
}

.services {
    background-color: #f4f7f9;
    padding-top: 68px;
}

.services__intro {
    padding-bottom: 28px;
    max-width: 420px;
}

.services__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 29px;
}

.services__text,
.service-item__text {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 21px;
    margin: 0;
}

.services__box {
    display: flex;
    padding-top: 37px;
    padding-bottom: 7px;
}

.services-list__btn {
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    background-color: #32425c;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    padding: 17px 140px 17px 23px;
}

.services-list__item:last-child .services-list__btn {
    padding-right: 156px;
}

.services-list__btn:hover,
.services-list__btn:focus {
    background-color: #293449;
}

.services-list__btn:active,
.services-list__btn_active {
    color: #32425c;
    box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
    background-color: #ffffff;
}

.services__description {
    position: relative;
    padding-left: 80px;
}

.services__description::before {
    position: absolute;
    content: "";
    top: -41px;
    left: -7px;
    width: 10px;
    height: 279px;
    background-image: url(../img/shadow.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.service-item {
    min-height: 280px;
}

.service-item__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
    margin-bottom: 30px;
}

.service-item-delivery {
    background-image: url(../img/service-delivery.png);
    background-repeat: no-repeat;
    background-position: right 30px;
    padding-right: 348px;
    display: none;
}

.service-item-guarantee {
    background-image: url(../img/service-guarantee.png);
    background-repeat: no-repeat;
    background-position: right 30px;
    padding-right: 245px;
    display: none;
}

.service-item-credit {
    background-image: url(../img/service-credit.png);
    background-repeat: no-repeat;
    background-position: right 30px;
    padding-right: 320px;
    display: none;
}

.service-item-credit .service-item__text {
    margin-bottom: 30px;
}

.service-item__link {
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 45px;
}

.service-item__link:hover,
.service-item__link:focus {
    background-color: #ca2c37;
}

.service-item__link:active {
    background-color: #ba2732;
}

.about-contacts {
    padding-top: 82px;
    padding-bottom: 86px;
    display: flex;
}

.company {
    padding-right: 120px;
}

.company__title,
.contact__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 26px;
}

.company__text,
.contact__text {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 21px;
}

.company__text_intro {
    margin-bottom: 24px;
}

.company__text_description {
    padding-right: 74px;
}

.company__list {
    margin-bottom: 37px;
}

.company__item {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    position: relative;
    padding-left: 35px;
}

.company__item:not(:last-child) {
    margin-bottom: 19px;
}

.company__item::before {
    position: absolute;
    content: "";
    top: 9px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
}

.company__link,
.contact__link,
.feedback__btn {
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    display: inline-block;
    vertical-align: top;
    padding: 13px 40px 8px 40px;
}

.company__link:hover,
.contact__link:hover,
.feedback__btn:hover,
.company__link:focus,
.contact__link:focus,
.feedback__btn:focus {
    background-color: #ca2c37;
}

.company__link:active,
.contact__link:active,
.feedback__btn:active {
    background-color: #ba2732;
}

.contact__text {
    padding-right: 80px;
    margin-bottom: 30px;
}

.contact__map-link {
    display: block;
    margin-bottom: 37px;
}

.contact__link {
    padding: 11px 59px 8px 63px;
}

.map-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -335px;
    margin-left: -470px;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.feedback-popup,
.add-cart-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 620px;
    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
    border-top: 7px solid #ee3643;
    margin-left: -290px;
}

.feedback-popup {
    padding-top: 40px;
    margin-top: -223px;
}

.feedback {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feedback__label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 18px;
}

.feedback__label_name {
    margin-right: 20px;
}

.feedback__field,
.feedback__text {
    width: 220px;
    border: solid 2px #dee3e4;
    border-radius: 4px;
    padding: 6px 16px 8px 10px;
    margin-top: 13px;
}

.feedback__field {
    margin-bottom: 20px;
}

.feedback__field::placeholder,
.feedback__text::placeholder {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback__text {
    resize: none;
    width: 460px;
    height: 114px;
}

.feedback__field:hover,
.feedback__text:hover {
    border: solid 2px #b5b5b5;
}

.feedback__field:focus,
.feedback__text:focus {
    border: solid 2px #ee3643;
}

.feedback__background-btn {
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 37px 0;
    margin-top: 37px;
}

.feedback__btn {
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 199px;
}

.btn-close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 0;
}

.footer {
    font-size: 18px;
    line-height: 24px;
    background-color: #32425c;
}

.footer__intro {
    display: flex;
}

.footer__logo {
    padding: 20px 42px 13px 42px;
}

.footer__address,
.footer__copyright {
    max-width: 325px;
}

.footer-address__text {
    margin: 0;
    color: #ffffff;
}

.footer-menu__item:not(:last-child) {
    margin-right: 60px;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    max-width: 600px;
}

.footer-menu-top {
    align-self: flex-end;
}

.footer-menu__link {
    color: #f1f5f7;
}

.footer-menu__link:hover,
.footer-menu__link:focus {
    text-decoration: underline;
}

.footer-menu__link:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.footer__address-suggest {
    display: flex;
    padding-top: 34px;
    padding-bottom: 48px;
}

.footer-menu__link_suggest,
.development-list__link {
    color: #ffd180;
}

.footer-menu__link_suggest:hover,
.development-list__link:hover,
.footer-menu__link_suggest:focus,
.development-list__link:focus {
    text-decoration: underline;
}

.footer-menu__link_suggest:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.footer__copyright-development-background {
    background-color: #293449;
}

.footer__copyright-development {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.copyright__text {
    margin: 0;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 180px;
}

.social-list__item:not(:last-child) {
    margin-right: 3px;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 42px;
    background-color: #212a3a;
}

.social-list__link:hover,
.social-list__link:focus,
.social-list__link:active {
    background-color: #ee3643;
}

.development-list {
    display: flex;
    flex-wrap: wrap;
}

.development-list__item:first-child {
    margin-right: 53px;
}

.development-list__text {
    margin: 0;
}

.development-list__link:active {
    color: #ee3643;
    text-decoration: none;
}

.catalog-page {
    font-family: 'PT Sans', 'Arial', sans-serif;
}

.user-list__link_add-product {
    background-color: #ee3643;
}

.user-menu,
.account-menu,
.breadcrumb-list,
.sort__menu,
.control-list,
.brand-list,
.power-list,
.products,
.pagination,
.add-cart-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.user-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 14px 10px 12px 13px;
}

.user-menu__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-menu__link_user-page {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    margin-right: 39px;
}

.user-menu__link_user-page svg {
    margin-right: 14px;
}

.user-menu__link:hover path,
.user-menu__link:focus path {
    fill: #000000;
}

.user-menu__link:active {
    opacity: 0.3;
}

.account-menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 17px;
    max-width: 300px;
}

.account-menu__item:not(:first-child) {
    position: relative;
}

.account-menu__item:not(:first-child)::before {
    position: absolute;
    top: 7px;
    left: 5px;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #32425c;
}

.account-menu__link {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.account-menu__item:not(:last-child) {
    margin-right: 10px;
}

.account-menu__item:not(:first-child) .account-menu__link {
    padding-left: 22px;
}

.account-menu__link:hover,
.account-menu__link:focus {
    color: #ee3643;
}

.account-menu__link:active {
    color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs {
    padding: 20px 0;
}

.breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
}

.breadcrumb-list__item:not(:last-child) {
    margin-right: 10px;
}

.breadcrumb-list__item {
    position: relative;
}

.breadcrumb-list__item:not(:last-child)::after {
    position: absolute;
    top: 2px;
    right: 2px;
    content: "";
    width: 8px;
    height: 12px;
    background-image: url(../img/icon-right-breadcrumbs.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumb-list__item:first-child::after {
    right: 7px;
}

.breadcrumb-list__item:not(:last-child) .breadcrumb-list__link {
    padding-right: 30px;
}

.breadcrumb-list__link {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.goods__title {
    font-family: 'Cuprum', 'Arial', sans-serif;
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
    background-color: #f2f6f8;
    padding: 30px 27px;
}

.goods__filters-catalog {
    display: flex;
    margin-top: 17px;
    padding-bottom: 60px;
}

.filters {
    width: 220px;
    margin-right: 20px;
}

.filters-sort-title {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #f7f3ec;
    padding: 15px 10px 15px 18px;
}

.product-filter-title {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
}

.brand-filter,
.power-filter,
.price-filter {
    border: none;
    margin: 0;
    padding: 0;
}

.price-filter {
    border-bottom: 1px solid #f7f3ec;
    padding-bottom: 25px;
    margin-top: 8px;
}

.price-filter__range-controls {
    position: relative;
    background-color: #f7f3ec;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-bottom: 39px;
    padding-left: 20px;
    padding-right: 20px;
}

.price-filter__scale {
    height: 2px;
    background-color: #d7dcde;
}

.price-filter__bar {
    height: 2px;
    width: 85%;
    background-color: #00ca74;
}

.price-filter__btn {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: transparent;
}

.price-filter__btn_min {
    left: 13px;
}

.price-filter__btn_max {
    left: 153px;
}

.price-filter__price-fields {
    display: flex;
    flex-wrap: wrap;
}

.price-filter__field {
    text-align: center;
    font-size: 17px;
    line-height: 18px;
    width: 95px;
    background-color: #f7f3ec;
    border: none;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.price-filter__dash {
    margin: 10px 9px 0 9px;
}

.brand-filter {
    border-bottom: 1px solid #f7f3ec;
    padding-bottom: 25px;
    margin-top: 17px;
}

.brand-list__label,
.power-list__label {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    padding-left: 34px;
}

.brand-list__item:not(:last-child),
.power-list__item:not(:last-child) {
    margin-bottom: 19px;
}

.brand-list__checkbox + .brand-list__label::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.7;
}

.brand-list__checkbox:checked + .brand-list__label::before {
    width: 27px;
    background-image: url(../img/checkbox-on.svg);
}

.brand-list__checkbox:disabled + .brand-list__label::before {
    opacity: 0.3;
}

.brand-list__checkbox:disabled + .brand-list__label {
    color: rgba(0, 0, 0, 0.4);
}

.brand-list__checkbox:focus + .brand-list__label::before,
.brand-list__checkbox:hover + .brand-list__label::before {
    opacity: 1;
}

.power-filter {
    padding-bottom: 15px;
    margin-top: 17px;
    margin-bottom: 57px;
}

.power-list__radio + .power-list__label::before {
    position: absolute;
    top: -2px;
    left: 0;
    content: "";
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.7;
}

.power-list__radio:checked + .power-list__label::before {
    background-image: url(../img/radio-on.svg);
}

.power-list__radio:disabled + .power-list__label::before {
    opacity: 0.3;
}

.power-list__radio:disabled + .power-list__label {
    color: rgba(0, 0, 0, 0.4);
}

.power-list__radio:focus + .power-list__label::before,
.power-list__radio:hover + .power-list__label::before {
    opacity: 1;
}

.filters__btn,
.pagination__item:last-child .pagination__link {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    padding: 9px 35px;
}

.sort {
    background-color: #f7f3ec;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 13px 19px 12px 18px;
}

.sort__title {
    padding: 0;
}

.sort__menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 46px;
}

.sort__control-list {
    display: flex;
    flex-wrap: wrap;
}

.sort__item:not(:last-child) {
    margin-right: 65px;
}

.sort__link {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.18);
    border-bottom: 1px dotted #ee3643;
}

.sort__link:hover,
.sort__link:focus {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sort__link:active {
    color: #ee3643;
    border-bottom: 1px solid transparent;
}

.sort__link_active {
    color: #ee3643;
    border-bottom: 1px solid transparent;
}

.control-list__item:not(:last-child) .control-list__link {
    margin-right: 20px;
}

.control-list__link polygon:hover,
.control-list__link polygon:focus {
    fill: #000000;
}

.control-list__link polygon:active {
    fill: #ee3643;
}

.control-list__link_active polygon {
    fill: #ee3643;
}

.products-catalog__products-list {
    max-width: 700px;
}

.products {
    font-family: 'PT Sans', 'Arial', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.products__item {
    position: relative;
    border: 1px solid #eaeaea;
    text-align: center;
    padding-bottom: 18px;
    width: 220px;
    margin-bottom: 20px;
}

.products__item:not(:nth-child(3n)) {
    margin-right: 20px;
}

.products__item:nth-child(3)::before,
.products__item:nth-child(5)::before,
.products__item:nth-child(7)::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 60px;
    height: 59px;
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.products__item:hover,
.products__item:focus {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.products__item:hover .products__image,
.products__item:focus .products__image {
    opacity: 0;
}

.products__item:hover .products__overlay,
.products__item:focus .products__overlay {
    opacity: 1;
}

.products__text-box {
    padding-top: 6px;
    padding-right: 30px;
    padding-left: 30px;
}

.products__title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 12px;
}

.products__title_new {
    margin-bottom: 36px;
}

.products__price,
.products__discount {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #999999;
    margin: 0;
}

.products__price {
    text-decoration: line-through;
    margin-bottom: 6px;
}

.products__discount {
    color: #ffffff;
    background-image: url(../img/product-price-background.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: top;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;
}

.products__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 170px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.products__btn {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #63a63e;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    padding: 10px 45px 10px 49px;
    margin-bottom: 7px;
}

.products__btn::before {
    position: absolute;
    content: "";
    top: 11px;
    left: 14px;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.products__btn:hover,
.products__btn:focus {
    background-color: #5fbb2d;
}

.products__btn:active {
    box-shadow: none;
    background-color: #518534;
}

.products__btn:hover::before,
.products__btn:focus::before,
.products__btn:active::before {
    opacity: 1;
}

.products__btn_bookmark {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #32425c;
    background-color: #ffffff;
    border: 3px solid #63a63e;
    display: inline-block;
    vertical-align: top;
    padding: 7px 31px;
}

.products__btn_bookmark:hover,
.products__btn_bookmark:focus {
    border: 3px solid #32425c;
}

.products__btn_bookmark:active {
    color: rgba(50, 66, 92, 0.3);
    border: 3px solid rgba(50, 66, 92, 0.3);
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.pagination__link {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    display: inline-block;
    vertical-align: top;
    padding: 9px 14px;
}

.pagination__item:not(:last-child) {
    margin-right: 10px;
}

.pagination__link:hover,
.pagination__link:focus {
    border: 1px solid #bdc6ca;
}

.pagination__link:active {
    border: 1px solid #ee3643;
}

.pagination__link_active {
    color: #ffffff;
    background-color: #ee3643;
    border: solid 1px #ee3643;
}

.add-cart-popup {
    margin-top: -50px;
    background-image: url(../img/icon-confirm-to-cart.svg);
    background-repeat: no-repeat;
    background-position: 52px 46px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    padding-top: 38px;
}

.add-cart-popup__text {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 65px;
}

.add-cart-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 37px 0;
}

.add-cart-menu__link {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px 61px;
}

.add-cart-menu__item:nth-child(1) .add-cart-menu__link {
    color: #ffffff;
    background-color: #ee3643;
    margin-right: 20px;
}

.add-cart-menu__item:nth-child(2) .add-cart-menu__link {
    padding: 10px 45px;
}

.add-cart-menu__item:nth-child(1) .add-cart-menu__link:hover,
.add-cart-menu__item:nth-child(1) .add-cart-menu__link:focus {
    background-color: #ca2c37;
}

.add-cart-menu__item:nth-child(1) .add-cart-menu__link:active {
    background-color: #ba2732;
}

.add-cart-menu__item:nth-child(2) .add-cart-menu__link:hover,
.add-cart-menu__item:nth-child(2) .add-cart-menu__link:focus {
    background-color: #d3d3d3;
}

.add-cart-menu__item:nth-child(2) .add-cart-menu__link:active {
    background-color: #708090;
    color: #ffffff;
}

.conclusion {
    background-color: #f4f7f9;
    padding-top: 65px;
    padding-bottom: 77px;
}

.about-product__title {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 35px;
}

.about-product__text {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.service-item-show {
    display: block;
}
