body {
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

a {
    text-decoration: none;
}

.modal-window {
    display: none;
}

.header__intro {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
}

.logo {
    display: block;
    width: 220px;
    height: 42px;
    text-align: center;
    line-height: 47px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

.search__field {
    border: none;
    background-color: #293449;
}

.search__field::placeholder {
    color: #ffffff;
}

.search__field:hover {
    background-color: #212a3a;
}

.search__field:focus {
    background-color: #ffffff;
}

.user-list,
.registration,
.menu,
.shop-pluses,
.brands-list,
.delivery-list,
.services-list,
.footer-menu,
.social-list,
.development-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.user-list__link {
    color: #ffffff;
}

.user-list__link:hover {
    background-color: #212a3a;
}

.user-list__link:active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.user-list__link_checkout {
    background-color: #63a63e;
}

.user-list__link_checkout:hover {
    background-color: #5fbb2d;
}

.user-list__link_checkout:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

.header__description,
.header__navigation {
    background-color: #f4f7f9;
}

.offer__title {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    color: #ee3643;
    margin: 0;
}

.address__phone {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.address__city {
    line-height: 24px;
    color: #32425c;
    margin: 0;
}

.registration__link {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.registration__link:hover {
    color: #ee3643;
}

.registration__link:active {
    color: rgba(0, 0, 0, 0.3);
}

.menu {
    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.menu__link {
    font-size: 17px;
    line-height: 21px;
    color: #ffffff;
}

.menu__link:hover {
    background-color: #1d2739;
}

.menu__link:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.shop-pluses__item_material {
    background-color: #ffbf47;
}

.shop-pluses__item_tool {
    background-color: #3bbce3;
}

.shop-pluses__item_technique {
    background-color: #dc91d8;
}

.shop-pluses__item_discount {
    background-color: #8ed78f;
}

.shop-pluses__item_delivery {
    background-color: #ffc047;
}

.shop-pluses__text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}

.shop-pluses__link {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
}

.shop-pluses__link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.shop-pluses__link:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.slider-drills__item {
    width: 620px;
    height: 266px;
}

.slider-drills__item_first {
    background-image: url(../img/slide-drills-01.jpg);
}

.slider-drills__item_second {
    background-image: url(../img/slide-drills-02.jpg);
}

.slider-drills__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

.slider-drills__text {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
}

.slider-drills__link {
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
}

.slider-drills__link:hover {
    background-color: #ca2c37;
}

.slider-drills__link:active {
    background-color: #ba2732;
}

.products-intro {
    background-color: #f9f5f0;
}

.products-intro__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
}

.products-intro__link {
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
}

.products-intro__link:hover {
    background-color: #ca2c37;
}

.products-intro__link:active {
    background-color: #ba2732;
}

.services {
    background-color: #f4f7f9;
}

.services__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.services__text,
.service-item__text {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}

.services-list__btn {
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    background-color: #32425c;
    border: none;
    cursor: pointer;
}

.services-list__btn:hover {
    background-color: #293449;
}

.services-list__btn:active {
    color: #32425c;
    box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
    background-color: #ffffff;
}

.service-item__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
}

.service-item__link {
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
}

.service-item__link:hover {
    background-color: #ca2c37;
}

.service-item__link:active {
    background-color: #ba2732;
}

.company__title,
.contact__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
}

.company__text,
.contact__text {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
}

.delivery-list__item {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.company__link,
.contact__link {
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
}

.company__link:hover,
.contact__link:hover {
    background-color: #ca2c37;
}

.company__link:active,
.contact__link:active {
    background-color: #ba2732;
}

.footer {
    font-size: 18px;
    line-height: 24px;
    background-color: #32425c;
}

.footer-address__text {
    margin: 0;
    color: #ffffff;
}

.footer-menu__link {
    color: #f1f5f7;
}

.footer-menu__link:hover {
    text-decoration: underline;
}

.footer-menu__link:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.footer-menu__link_suggest-link,
.development-list__link {
    color: #ffd180;
}

.footer-menu__link_suggest-link:hover,
.development-list__link:hover {
    text-decoration: underline;
}

.footer-menu__link_suggest-link:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.footer__copyright-development {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
}

.development-list__link:active {
    color: #ee3643;
    text-decoration: none;
}

.catalog-page {
    font-family: 'PT Sans', 'Arial', sans-serif;
}

.account__logout {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
}

.account__logout:active {
    color: rgba(0, 0, 0, 0.3);
}

.account-menu,
.breadcrumb-list,
.sort__menu,
.control-list,
.brand-checkbox-list,
.power-radio-list,
.products,
.pagination {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.account-menu__link {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.account-menu__link:hover {
    color: #ee3643;
}

.account-menu__link:active {
    color: rgba(50, 66, 92, 0.3);
}

.breadcrumb-list__link {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.goods__title {
    font-family: 'Cuprum', 'Arial', sans-serif;
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
    background-color: #f2f6f8;
}

.filters__title {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #f7f3ec;
}

.product-filter-title {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
}

.brand-filter,
.power-filter {
    border: none;
    margin: 0;
    padding: 0;
}

.brand-checkbox-list__label,
.power-radio-list__label {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filters__btn {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    cursor: pointer;
}

.sort {
    background-color: #f7f3ec;
}

.sort__link {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.18);
    border-bottom: 1px dotted #ee3643;
}

.sort__link:hover {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sort__link:active {
    color: #ee3643;
    border-bottom: 1px solid transparent;
}

.sort__link_active {
    color: #ee3643;
    border-bottom: 1px solid transparent;
}

.control-list__link polygon:hover {
    fill: #000000;
}

.control-list__link polygon:active {
    fill: #ee3643;
}

.control-list__link_active polygon {
    fill: #ee3643;
}

.products__title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
}

.products__price,
.products__discount {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #999999;
    margin: 0;
}

.products__price {
    text-decoration: line-through;
}

.products__discount {
    color: #ffffff;
    background-image: url(../img/product-price-background.svg);
    background-repeat: no-repeat;
}

.products__btn {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #63a63e;
    border: none;
    cursor: pointer;
}

.products__btn:hover {
    background-color: #5fbb2d;
}

.products__btn:active {
    box-shadow: none;
    background-color: #518534;
}

.products__btn_bookmark {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #32425c;
    background-color: #ffffff;
    border: 3px solid #63a63e;
}

.products__btn_bookmark:hover {
    border: 3px solid #32425c;
}

.products__btn_bookmark:active {
    color: rgba(50, 66, 92, 0.3);
    border: 3px solid rgba(50, 66, 92, 0.3);
}

.pagination__link {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.pagination__link:hover {
    border: 1px solid #bdc6ca;
}

.pagination__link:active {
    border: 1px solid #ee3643;
}

.pagination__link_active {
    color: #ffffff;
    background-color: #ee3643;
    border: solid 1px #ee3643;
}

.conclusion {
    background-color: #f4f7f9;
}

.about-product__title {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
}

.about-product__text {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}
