html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.modal-window {
    display: none;
}

.header {
    background-color: #f4f7f9;
    padding-bottom: 60px;
}

.header__intro-background {
    background-color: #293449;
}

.header__intro {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    display: flex;
}

.logo {
    display: block;
    width: 220px;
    height: 42px;
    text-align: center;
    line-height: 47px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

.search__field {
    border: none;
    background-color: #293449;
    height: 42px;
}

.search__field::placeholder {
    color: #ffffff;
}

.search__field:hover {
    background-color: #212a3a;
}

.search__field:focus {
    background-color: #ffffff;
}

.user-list,
.registration,
.menu,
.shop-pluses,
.brands-list,
.delivery-list,
.services-list,
.footer-menu,
.social-list,
.development-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.user-list {
    margin-left: auto;
    display: flex;
}

.user-list__link {
    display: inline-block;
    vertical-align: center;
    color: #ffffff;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 13px;
}

.user-list__link:hover {
    background-color: #212a3a;
}

.user-list__link:active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.user-list__link_checkout {
    background-color: #63a63e;
    padding-left: 20px;
    padding-right: 22px;
}

.user-list__link_checkout:hover {
    background-color: #5fbb2d;
}

.user-list__link_checkout:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

.header__description {
    padding-top: 46px;
    padding-bottom: 44px;
    display: flex;
    justify-content: space-around;
}

.offer {
    width: 196px;
}

.offer__title {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    color: #ee3643;
    margin: 0;
}

.address__phone {
    display: block;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #ee3643;
    border: 3px solid #ffffff;
    padding-top: 13px;
    padding-bottom: 11px;
}

.address__city {
    line-height: 24px;
    color: #32425c;
    margin: 10px 0 0 0;
}

.registration {
    display: flex;
}

.registration__link {
    display: inline-block;
    vertical-align: top;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    padding-top: 14px;
    padding-bottom: 11px;
    padding-right: 25px;
    padding-left: 25px;
}

.registration__link:first-child {
    margin-right: 10px;
}

.registration__link:hover {
    color: #ee3643;
}

.registration__link:active {
    color: rgba(0, 0, 0, 0.3);
}

.header__navigation {
    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.menu {
    display: flex;
}

.menu__link {
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    line-height: 21px;
    color: #ffffff;
    padding-top: 22px;
    padding-bottom: 26px;
    padding-left: 31px;
    padding-right: 31px;
}

.menu__link:hover {
    background-color: #1d2739;
}

.menu__link:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.features {
    padding-top: 59px;
    padding-bottom: 53px;
}

.shop-pluses {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.shop-pluses__item {
    width: 300px;
}

.shop-pluses__box {
    padding-left: 23px;
    padding-top: 26px;
    padding-bottom: 22px;
    padding-right: 23px;
    width: 300px;
}

.shop-pluses__item:not(:last-child){
    margin-bottom: 20px;
}

.shop-pluses__item_material {
    background-color: #ffbf47;
    margin-right: 20px;
}

.shop-pluses__item_tool {
    background-color: #3bbce3;
    margin-right: 20px;
}

.shop-pluses__item_technique {
    background-color: #dc91d8;
}

.shop-pluses__item_delivery,
.shop-pluses__item_discount {
    width:100%;
    display: flex;
    justify-content: flex-end;
}

.shop-pluses__box_discount {
    background-color: #8ed78f;
}

.shop-pluses__box_delivery {
    background-color: #ffc047;
}

.shop-pluses__text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    margin-bottom: 15px;
}

.shop-pluses__link {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
}

.shop-pluses__link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.shop-pluses__link:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.slider-drills {
    position: relative;
    width: 620px;
    margin-right: 20px;
    margin-top: -286px;
}

.slider-drills__item {
    padding-top: 26px;
    padding-bottom: 22px;
    padding-left: 24px;
    padding-right: 24px;
}

.slider-drills__item_first {
    background-image: url(../img/slide-drills-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-drills__item_second {
    background-image: url(../img/slide-drills-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: none;
}

.slider-drills__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    margin-bottom: 8px;
}

.slider-drills__text {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 124px;
}

.slider-drills__link {
    display: inline-block;
    vertical-align: top;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 49px;
    padding-right: 45px;
}

.slider-drills__link:hover {
    background-color: #ca2c37;
}

.slider-drills__link:active {
    background-color: #ba2732;
}

.slider-drills__btn {
    position: absolute;
    top: 114px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.slider-drills__btn_left {
    left: 25px;
}

.slider-drills__btn_right {
    right: 20px;
}

.products-intro {
    background-color: #f9f5f0;
    display: flex;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 35px;
    padding-left: 30px;
    padding-right: 24px;
}

.products-intro__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
}

.products-intro__link {
    display: inline-block;
    vertical-align: center;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    padding: 14px 55px;
    margin-left: auto;
}

.products-intro__link:hover {
    background-color: #ca2c37;
}

.products-intro__link:active {
    background-color: #ba2732;
}

.services {
    background-color: #f4f7f9;
}

.services__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.services__text,
.service-item__text {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}

.services-list__btn {
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    background-color: #32425c;
    border: none;
    cursor: pointer;
}

.services-list__btn:hover {
    background-color: #293449;
}

.services-list__btn:active {
    color: #32425c;
    box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
    background-color: #ffffff;
}

.service-item__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
}

.service-item__link {
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
}

.service-item__link:hover {
    background-color: #ca2c37;
}

.service-item__link:active {
    background-color: #ba2732;
}

.company__title,
.contact__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
}

.company__text,
.contact__text {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
}

.delivery-list__item {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.company__link,
.contact__link {
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
}

.company__link:hover,
.contact__link:hover {
    background-color: #ca2c37;
}

.company__link:active,
.contact__link:active {
    background-color: #ba2732;
}

.footer {
    font-size: 18px;
    line-height: 24px;
    background-color: #32425c;
}

.footer__intro {
    display: flex;
}

.footer-address__text {
    margin: 0;
    color: #ffffff;
}

.footer-menu__item:not(:last-child) {
    margin-right: 60px;
}

.footer-menu {
    display: flex;
    margin-left: auto;
}

.footer-menu-top {
    align-self: flex-end;
}

.footer-menu__link {
    color: #f1f5f7;
}

.footer-menu__link:hover {
    text-decoration: underline;
}

.footer-menu__link:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.footer__address-suggest {
    display: flex;
    padding-top: 32px;
    padding-bottom: 53px;
}

.footer-menu__link_suggest-link,
.development-list__link {
    color: #ffd180;
}

.footer-menu__link_suggest-link:hover,
.development-list__link:hover {
    text-decoration: underline;
}

.footer-menu__link_suggest-link:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.footer__copyright-development-background {
    background-color: #293449;
}

.footer__copyright-development {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 39px;
    padding-bottom: 35px;
}

.copyright__text {
    margin: 0;
}

.social-list {
    display: flex;
}

.social-list__item:not(:last-child){
    margin-right: 11px;
}

.development-list {
    display: flex;
}

.development-list__item:first-child {
    margin-right: 53px;
}

.development-list__text {
    margin: 0;
}

.development-list__link:active {
    color: #ee3643;
    text-decoration: none;
}

.catalog-page {
    font-family: 'PT Sans', 'Arial', sans-serif;
}

.account__logout {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
}

.account__logout:active {
    color: rgba(0, 0, 0, 0.3);
}

.account-menu,
.breadcrumb-list,
.sort__menu,
.control-list,
.brand-checkbox-list,
.power-radio-list,
.products,
.pagination {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.account-menu__link {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.account-menu__link:hover {
    color: #ee3643;
}

.account-menu__link:active {
    color: rgba(50, 66, 92, 0.3);
}

.breadcrumb-list__link {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.goods__title {
    font-family: 'Cuprum', 'Arial', sans-serif;
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
    background-color: #f2f6f8;
}

.filters__title {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #f7f3ec;
}

.product-filter-title {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
}

.brand-filter,
.power-filter {
    border: none;
    margin: 0;
    padding: 0;
}

.brand-checkbox-list__label,
.power-radio-list__label {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filters__btn {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    cursor: pointer;
}

.sort {
    background-color: #f7f3ec;
}

.sort__link {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.18);
    border-bottom: 1px dotted #ee3643;
}

.sort__link:hover {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sort__link:active {
    color: #ee3643;
    border-bottom: 1px solid transparent;
}

.sort__link_active {
    color: #ee3643;
    border-bottom: 1px solid transparent;
}

.control-list__link polygon:hover {
    fill: #000000;
}

.control-list__link polygon:active {
    fill: #ee3643;
}

.control-list__link_active polygon {
    fill: #ee3643;
}

.products {
    font-family: 'PT Sans', 'Arial', sans-serif;
    display: flex;
}

.products__overlay {
    display: none;
}

.products__item {
    border: 1px solid #eaeaea;
    text-align: center;
    padding-bottom: 21px;
    margin-right: 22px;
    width: 218px;
}

.products__title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 18px;
}

.products__price,
.products__discount {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #999999;
    margin: 0;
}

.products__price {
    text-decoration: line-through;
    margin-bottom: 13px;
}

.products__discount {
    color: #ffffff;
    background-image: url(../img/product-price-background.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: top;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 36px;
    padding-right: 40px;
}

.products__btn {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #63a63e;
    border: none;
    cursor: pointer;
}

.products__btn:hover {
    background-color: #5fbb2d;
}

.products__btn:active {
    box-shadow: none;
    background-color: #518534;
}

.products__btn_bookmark {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #32425c;
    background-color: #ffffff;
    border: 3px solid #63a63e;
}

.products__btn_bookmark:hover {
    border: 3px solid #32425c;
}

.products__btn_bookmark:active {
    color: rgba(50, 66, 92, 0.3);
    border: 3px solid rgba(50, 66, 92, 0.3);
}

.pagination__link {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.pagination__link:hover {
    border: 1px solid #bdc6ca;
}

.pagination__link:active {
    border: 1px solid #ee3643;
}

.pagination__link_active {
    color: #ffffff;
    background-color: #ee3643;
    border: solid 1px #ee3643;
}

.conclusion {
    background-color: #f4f7f9;
}

.about-product__title {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
}

.about-product__text {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}
